<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.gelin.android.shareopen" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shareopen"
        android:label="@string/app_name" >

        <activity
            android:name=".ShareAsLinkActivity"
            android:icon="@mipmap/share_link"
            android:label="@string/share_link"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="mailto" />
                <data android:scheme="urn" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" android:mimeType="*/*"/>
                <data android:scheme="https" android:mimeType="*/*"/>
                <data android:scheme="ftp" android:mimeType="*/*"/>
                <data android:scheme="mailto" android:mimeType="*/*"/>
                <data android:scheme="urn" android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareAsFileActivity"
            android:icon="@mipmap/share_file"
            android:label="@string/share_file"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" android:mimeType="*/*" />
                <data android:scheme="https" android:mimeType="*/*" />
                <data android:scheme="ftp" android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OpenAsFileActivity"
            android:icon="@mipmap/open_file"
            android:label="@string/open_file"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenAsLinkActivity"
            android:icon="@mipmap/open_link"
            android:label="@string/open_link"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DownloadActivity"
            android:label="@string/download"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" android:mimeType="*/*" />
                <data android:scheme="https" android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".TextContentProvider"
            android:authorities="ru.gelin.android.shareopen.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>

    </application>

</manifest>
